@define-color background            #2c2c2c;
@define-color border                #292929;
@define-color text                  #f0f0f0;

@define-color ws-focused            #fff4e6;
@define-color ws-active-text        #f0f0f0;
@define-color ws-persistent-text    #909090;
@define-color ws-urgent             #923330;

* {
    font-family:
        "FiraCode Nerd Font", FontAwesome, Roboto, Helvetica, Arial, sans-serif;
    font-weight: bold;
    font-size: 10pt;
}

/* Bar itself */
window#waybar {
    background: @background;
    border: 2px solid @border;
    border-radius: 5px;
}

/* Text colors */
#window,
#language,
#cpu,
#memory,
#custom-notification,
#pulseaudio,
#custom-mic,
#custom-spacer,
#idle_inhibitor,
#clock {
    color: @text;
}

/* Apply margin to first and last module */
#workspaces {
    margin-left: 20px;
}
#clock {
    margin-right: 20px;
}

/* Spacer */
#custom-spacer {
    margin: 0 3px 0 3px;
}

#custom-mic,
#idle_inhibitor {
    margin: 0 7px 0 0;
}

/* Workspaces */

#workspaces button {
    padding: 0 7px 0 7px;
    border-radius: 0;
    color: @ws-active-text;
    min-width: 10px;
    min-height: 10px;
}

#workspaces button:hover {
    color: @ws-active-text;
}

#workspaces button.empty {
    padding: 0 7px 0 7px;
    border-radius: 0;
    color: @ws-persistent-text;
}

#workspaces button.active {
    padding: 2px 7px 0 7px;
    border-bottom: 2px solid @ws-focused;
    color: @ws-active-text;
}

#workspaces button.urgent {
    padding: 2px 7px 0 7px;
    border-bottom: 2px solid @ws-urgent;
}

#custom-notification {
    margin-right: 0px;
}

/* Mic */
#custom-mic {
    font-size: 16px;
}
