prefer-no-csd

layout {
    gaps 10
    center-focused-column "never"

    default-column-width { proportion 0.5; }
    preset-column-widths {
        proportion 0.33333
        proportion 0.5
        proportion 0.66667
    }

    focus-ring {
        on
        width 3
        active-color "#fff4e6"
    }

    shadow {
        softness 30
        spread 5
        offset x=0 y=5
        color "#0007"
    }
}

cursor {
    // Theme is configured via nwg-look
    xcursor-size 20
}

// Application styling
window-rule {
    geometry-corner-radius 5
    clip-to-geometry true
}

hotkey-overlay {
    skip-at-startup
}

overview {
    backdrop-color "#1e1e1e"
}

animations {
    workspace-switch {
        spring damping-ratio=1.0 stiffness=1000 epsilon=0.0001
    }
    window-open {
        duration-ms 150
        curve "ease-out-expo"
    }
    window-close {
        duration-ms 150
        curve "ease-out-quad"
    }
    horizontal-view-movement {
        spring damping-ratio=1.0 stiffness=800 epsilon=0.0001
    }
    window-movement {
        spring damping-ratio=1.0 stiffness=800 epsilon=0.0001
    }
    window-resize {
        spring damping-ratio=1.0 stiffness=800 epsilon=0.0001
    }
    config-notification-open-close {
        spring damping-ratio=0.6 stiffness=1000 epsilon=0.001
    }
    exit-confirmation-open-close {
        spring damping-ratio=0.6 stiffness=500 epsilon=0.01
    }
    screenshot-ui-open {
        duration-ms 200
        curve "ease-out-quad"
    }
    overview-open-close {
        spring damping-ratio=1.0 stiffness=800 epsilon=0.0001
    }
    recent-windows-close {
        spring damping-ratio=1.0 stiffness=800 epsilon=0.001
    }
}

recent-windows {
    debounce-ms 750
    open-delay-ms 0

    highlight {
        active-color "#fff4e6ff"
        urgent-color "#ff9999ff"
        padding 30
        corner-radius 5
    }

    previews {
        max-height 480
        max-scale 0.5
    }
}
