//!TODO

layer-rule {
    match namespace="waybar"
    opacity 0.99
}


window-rule {
    match title="^Picture-in-Picture$"
    draw-border-with-background false
    focus-ring { off; }
    shadow { off; }
    geometry-corner-radius 0
    open-floating true
}
