layer-rule {
    match namespace="waybar"
    opacity 0.99
}

// PiP
window-rule {
    match title="^Picture-in-Picture$"
    draw-border-with-background false
    focus-ring { off; }
    shadow { off; }
    geometry-corner-radius 0
    open-floating true
}

// Popup menus
window-rule {
    match app-id="popup"
    match app-id="com.saivert.pwvucontrol"
    match app-id="waypaper"
    match app-id="be.alexandervanhee.gradia"
    open-floating true
    default-window-height { proportion 0.8; }
    default-column-width { proportion 0.8; }
}

// Floats
window-rule {
    match app-id="org.gnome.*"
    match app-id="org.prismlauncher.PrismLauncher"
    open-floating true
}

// Media viewers
window-rule {
    match app-id=r"^.*\.Celluloid$"
    match app-id=r"^.*\.Loupe$"
    match app-id=r"^.*\.TextEditor$"
    open-floating true
    default-window-height { proportion 0.8; }
    default-column-width  { proportion 0.8; }
}
